body {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    background-color: #242424;
    color: #fff;
}

a {
    color: #fff;
}

a:hover {
    color: #cfcfcf;
}

h1 {
    font-family: 'Cutive Mono', monospace;
    font-size: 4rem;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

@media all and (min-width: 378px) {
    h1 {
        font-size: 6rem;
    }
}

h1 span {
    background-color: #000;
}

h2 {
    font-family: 'Cutive Mono', monospace;
    font-size: 5rem;
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

h3 {
    font-family: 'Cutive Mono', monospace;
}

h4 {
    font-family: 'Cutive Mono', monospace;
}

.btn-white {
    border-width: 1px;
    border-color: #fff;
    border-radius: 0;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Cutive Mono', monospace;
    transition: .2s;
}

.btn-white:hover,
.btn-white:focus {
    color: #cfcfcf;
    background-color: #fff;
}

#booking-btn {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
}

/* ===============================
                NAV
   =============================== */

.navbar-brand img {
    padding-top: 7px;
    width: 70px;
}

.navbar {
    padding: 20px 0;
    border: 0;
    transition: all .2s ease-in-out;
}

.navbar-header {
    position: relative;
}

.navbar-toggle {
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: auto;
}

.super-top-nav {
    background: rgba(0, 0, 0, 1);
    padding: 7px 0;
}

.super-top-nav h1 {
    opacity: 0;
    height: 0;
    margin: 0;
    transition-delay: all .2;
    transition: all .2s ease-in-out;
}

.super-nav-wrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}

.navbar-brand {
    font-family: 'Cutive Mono', monospace;
    font-size: 2rem;
    position: absolute;
    left: 2%;
    padding-left: 0;
}

.navbar-brand a {
    padding: 0;
}

@media all and (min-width:895px) {
    .navbar-brand {
        font-size: 3rem;
    }
}

#hidden-title>a {
    color: #fff;
    font-size: 40px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    color: rgb(160, 160, 160);
}

#super-menu ul li.active a {
    color: #fff;
    border: 1px solid #fff;
}

/* ===============================
                COVER
   =============================== */
#home {
    margin: 0;
    height: 65vh;
    background-color: rgba(0, 0, 0, .6);
}

#title-text {
    background-color: #000;
}

#home-content {
    width: 100%;
    height: 100%;
}

#home-content-inner {
    padding: 0;
    vertical-align: bottom;
}

#too-fat {
    margin-top: 150px;
}

/* ===============================
                MUSIC
   =============================== */
#music {
    background-color: rgba(0, 0, 0, .6);
}

#sample-container {
    padding-bottom: 20px;
}

.music-info p {
    margin: 0;
    padding: 0 0 30px 0;
}

.play-sample {
    margin: 10px 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    max-height: 10vh;
    max-width: 290px;
    min-height: 80px;
}

.play-sample:hover {
    background-color: rgba(90, 90, 90, 0.5);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3);
}

.play-sample:hover .play-btn {
    opacity: .50;
}

.album-img {
    margin: 0;
    padding: 0;
    position: relative;
}

.album-img img {
    max-height: 10vh;
    padding: 0;
    margin: 0;
    min-height: 80px;
}

.play-btn {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.play-sample .play-btn:hover {
    opacity: 1;
}

.play-sample h4 {
    font-weight: 700;
}

/* ===============================
                SHOWS
   =============================== */
#shows {
    padding-bottom: 50px;
}

.show-card {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin: 12px;
    padding: 5px;
    transition: .2s;
}

.show-card:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.show-card i {
    padding: 10px;
    margin: 0;
    background-color: #242424;
    text-align: center;
}

.show-card h4 {
    margin: 0;
    padding: 0;
    display: inline;
}

.show-card p {
    padding: 10px 0 20px;
}

.p-positioner {
    float: left;
}


/* ===============================
                MERCH
   =============================== */
#merch {
    background-color: #000;
}

.merch {
    max-width: 300px;
}

#merch-carousel {
    padding: 20px 0 10px 0;
}

/* ===============================
             CONTACTS
   =============================== */

#contact {    
    background-image: url(../img/Band/jose-splash2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#contact h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

#contact .content-box {
    height: calc(100vh - 66px);
    background-color: #000000bb;
}

#contact>.content-box {
    position: relative;
}

#contact-left {
    padding-top: 50px;
}

#contact-left p {
    padding-top: 30px;
}

#contact-right {
    padding-top: 50px;
}

#contact-right p {
    padding-left: 7px;
}

.form-control {
    margin: 5px
}

#send-message {
    padding: 12px 0 56px 0;
    display: flex;
    justify-content: center;
}

@media all and (min-width: 895px) {
    #send-message {
        display: inherit;
        padding: 12px 0 12px 0;
    }
}

#send-message a {
    background-color: #000;
}

.social-list {
    padding: 0;
    margin: 0;
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 1;
}

.social-list .btn {
    background-color: #000;
}

.social-list li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.social-list a {
    color: white;
}



/* ===============================
                COMING
   =============================== */

#coming-soon {
    height: 100vh;
    background-image: url('../img/Band/cons-splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
}

#com-tfs {
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#com-tfx h1 {
    max-width: 40%;
}

#com-tfs p {
    font-size: 5rem;
    margin-top: 25px;
}

#com-tfs a {
    text-decoration: none;
    color: #fff;
}

#cons-message {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 4rem;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

a:hover {
    text-decoration: none;
}