body {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    background-color: #242424;
    color: #fff;
}

h1 {
    font-family: 'Cutive Mono', monospace;
    font-size: 70px;
    margin: 10px auto;
    padding: 0;
    text-align: center;
                
}

h2 {
    font-family: 'Cutive Mono', monospace;
    font-size: 40px;
    margin: 10px auto;
    padding: 0;
    text-align: center;
                
}

/* .content-title h2 {
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
} */

.btn

/* ===============================
                NAV
   =============================== */

.navbar-brand img {
    padding-top: 7px;
    width: 70px;
}

.navbar {
    padding: 20px 0;
    border: 0;
    transition: all .2s ease-in-out;
}

.navbar-toggle {
    background-color: rgba(0,0,0,0.0);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

.super-top-nav {
    background: rgba(0,0,0,0.7);
    padding: 7px 0;
}

.super-top-nav h1 {
    opacity: 0;
    height: 0;
    margin: 0;
    transition: all .2s ease-in-out;
}

.super-nav-wrapper {
    display: flex;
    justify-content: flex-end;
    
}

#navbar-brand {
    color: #fff;
    font-size: 40px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 2px;
    font-weight: 700;
    position: absolute;
        
}

/* @media all and (min-midth: 1475px){
    .side-nav-title {
        position: absolute;
        top: 8px;
        left: 21px;
    }
} */


#hidden-title > a {
    color: #fff;
    font-size: 40px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 2px;
    font-weight: 700;
}

/* .navbar-nav {
    float: right;
} */

.navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background:none;
    color: rgb(160, 160, 160);
    
}

#super-menu ul li.active a {
    color: #fff;
    border: 1px solid #fff;


}

/* ===============================
                COVER
   =============================== */

/* #home{
    height: 100%;
    
} */

#home-cover {
    height: 100vh;
   

}

#home-content {
    width: 100%;
    height: 100%;
    display: table;

}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

/* ===============================
                MEDIA
   =============================== */
/* #media-title {
    margin: 200px auto;
} */

#media-cover {
    /* height: 50vh;
    min-height: 300px; */
    background-color: rgba(0, 0, 0, .5);

}

/* #media-conetent-inner {
    display: table-cell;
} */

.play-sample {
    margin: 10px 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
}

.play-sample:hover {
    background-color: rgba(90, 90, 90, 0.5);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3);
} 

.play-sample:hover .play-btn {
    opacity: .50;
}

.album-img {
    margin:  0;
    /* padding: 0 0 0 0; */
    position: relative;    
}

.play-btn {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.play-sample .play-btn:hover {
    opacity: 1; 
}

.play-sample h4 {
    font-weight: 700;
    
}

@media all and (min-width: 768px) {
    .album-img {
        padding: 0;
    }
}

/* ===============================
                MERCH
   =============================== */

   .merch {
       max-width: 300px;

   }

   #merch-carousel {
       padding: 20px 0 10px 0;
   }

   .owl-dots {
       padding: 12px;
   }